body {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #091E2B;
  
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  /*   color: #EEE0CD; */
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
/*   color: #EEE0CD; */
  color: #ffffff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  /*   color: #EEE0CD; */
  color: #ffffff;
}

a:link {
/*   color: blue */
  color: #ffffff !important;
}

a:visited {
/*   color: purple  */
  color: #ffffff;
}

hr {
  max-width: 250px;
  margin: 0.5rem auto;
}

/* =================== */

div.centered-txt {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

div.main-img-wrapper {
  max-width: 50%;
  margin: 70px auto 40px;
}

img.main-img {
  max-width: 100%;
}



/* ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em 
}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black 
}
ul.navbar a {
  text-decoration: none 
} */

/* address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
} */
